body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: beige;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin:0;
    
}
header{
    width: 100%;    
    background: #066dab ;
}
#btn-menu{
    display:none;
    
   
}
#logomenu{
    width: 30px;
    height: 30px;
}
header label{
    display:none;
    width: 30px;
   
    
   
}

header label:hover{
    cursor: pointer;
    background: rgba(255, 255, 255, 0.3)
}
.menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    background-color: black ;
    

    
}
.menu li :hover {
    background-color: rgba(255, 253, 253, 0.3)  ;
}
.menu li{
    flex-grow: 1;
    border-right: 1px solid #fff ;
     padding:  15px;
}


.menu li a {    
    display: block;
    padding: 15px 20 px;
    color:#fff;
    text-decoration: none;
}
#logo{
    width: 150px;
    margin-top: 1%;
    margin-left: 50px;
    animation: 1s tocarlogo 1;
}
img{
    margin-top: 10px;
}



#banner{
    max-width: 50%;
    min-height: 250px;
    background: #fff;
    margin: 0 auto;
}
#contenedor{
    max-width: 50%;
    min-height: 700px;
    background: rgba(238, 236, 236, 0.8);
    margin: 0 auto;
}

.contenedor{
    width: 100%;
    padding:10px;
   
}
.formulario{
    margin:150px;
    background: white;
    padding: 3px;
    display: inline-block;
}
h1{
    text-align:center;
    color: #1a2537;
    font-size: 40px;
    width: auto;
}

input[type="text"],
input[type="password"]{
    
    font-size: 100%;
    
    padding: 20px;
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;    
    border: 1px solid #aaa
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background: cadetblue;
}
p{
    text-align: center;
}
.link{
    text-decoration: none;
    color: #1a2537;
    font-weight: 600;
}
.link:hover{
    color:cadetblue;
}



form{
    width: 450px;
    margin: auto;
    background: rgba(0,0,0,0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
    }

h2{
        color:white;
        text-align: center;
        margin: 0;
        font-size: 30px;
        margin-bottom: 20px;
    }

input{
width: 100%;
margin-bottom: 20px;
padding: 7px;
box-sizing: border-box;
font-size:17px;
border:none;

}

textarea{
    width: 100%;
margin-bottom: 20px;
padding: 7px;
box-sizing: border-box;
font-size:17px;
border:none;
min-height: 100px;
max-height: 200px;
max-width: 100%;

}

#enviar :hover{
    background: grey;
    color: white;
    padding:20px ;

}
main{ 
    padding: 20px;
}
footer{
    max-width: 100%;
    min-height: 130px;
    background: black;
    margin: 0 auto;
    border-radius: 0 0 20px 20px;
    text-align: center;
}

a img{
    text-decoration: none;
    padding: 20px;
    
}
@media(max-width:768px){
    header label{
        display: block ;
    }
    .menu{ 
        position: absolute;
        width:70% ;
        margin-left: -70% ;
        transition: all 0.5s;
       

    }
    .menu ul{
        flex-direction:column ;
     
    }
    .menu li{
        border-top:  1px solid #fff

    }

    #btn-menu:checked ~ .menu{
     
        margin: 0;


    }
}
@media(max-width:480px){
    header{  width: 100%}
    form{width: 100% }
}