<footer>
    <div class="sociales">
       
        <a href="#" class="facebook"><img src="img/socialmedia/fb.png"></a>
        <a href="#" class="twiter"><img src="img/socialmedia/tw.png"></a>
        <a href="#" class="instagram"><img src="img/socialmedia/ig.png"></a>
        <a href="#" class="youtube"><img src="img/socialmedia/yt.png"></a>
        <a href="#" class="mail"><img src="img/send.png"></a>
        <a href="#" class="faq"><img src="img/pregunta.png"></a>
    </div>
  </footer>