<header>
    <section id="logo">
        <a href="/"><img src="/img/logo.png " alt="logo"> </a>
    </section>
   
     <input type="checkbox" id="btn-menu"> 
     <label for="btn-menu"><img src="/img/menu.png" alt="menu"></label>
     <nav class="menu">
    <ul><li><a href="/">Inicio</a></li>
        <li><a href="">Calzado</a></li>
        <li><a href="">Indumentaria</a></li>
        <li><a href="">Accesorio</a></li>
        <li><a href="">deportes</a></li>
        <li><a href="/faq">Contactenos</a></li>
        <li><a href="/user/register">Registrese</a></li>
        <li><a href="/user/login">Login</a></li>
    </ul>
  </nav>
</header>