<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Agregar producto</title> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/registro.css">
  </head>
  
<body>
  <%- include('./partials/header') %>
 <main>
<div class="Delete">
    <form action="/products/<%=product.id%>?_method=delete" method="POST" enctype="multipart/form-data">
    <div>
        <label for="confirmacion">Desea eliminar este producto</label>
       <button></button> <input type="submit" name='confirmacion'>Si</button>
    </div>
    </form>

</div>

</main>

<%- include('./partials/footer') %>

</body>
</html>