<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
    <title>G M SPORTS</title>
    <link href="https://file.myfontastic.com/GnxE8v3D3Yk2fQp3jdDLp/icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/registro.css">
    <script src="js/scripts.js"></script>
    

    </head>


<body>  
    <%- include('partials/header.ejs') %>
<main>
    <section class="banner">
        <div class="banner__content"><h2>Las mejores zapatillas</h2></div>
        <img src="/img/banner.jpg" alt="" class="banner__img">
         
    </section>
    

    <section class="group today-special"></section>
    <h2 class="today-special__title">Nuestos productos </h2>
    <div class="container container__flex">
        <div class="column column--50--25">
            <img src="/img/converse-all-star-.jpg" alt="" class="today-special__img">
            <div class="today-special__title">CONVERSE</div>
            <div class="today-special__price">4999</div>
        </div>
        <div class="column column--50--25">
            <img src="/img/converse-all-star-.jpg" alt="" class="today-special__img">
            <div class="today-special__title"></div>
            <div class="today-special__price"></div>
        </div>
        <div class="column column--50--25">
            <img src="/img/converse-all-star-.jpg" alt="" class="today-special__img">
            <div class="today-special__title"></div>
            <div class="today-special__price"></div>
        </div>
        <div class="column column--50--25">
            <img src="/img/converse-all-star-.jpg" alt="" class="today-special__img">
            <div class="today-special__title"></div>
            <div class="today-special__price"></div>
        </div>
    </div>




  

   
</main>
</body>


<footer><%- include('partials/footer.ejs') %> </footer> 

</html>