<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Ingresar</title> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/login.css">
   
</head>
<body>
  <%- include('partials/header.ejs') %>
        <main>
          <%if( typeof errors !='undefined') {%>
            <p  style="color:red"> Error debe completar los campos </p>
            <ul>
              <% for (let i= 0;i<errors.length; i ++) {%>
                <li>
                  <% errors[i].msg%>
                </li>

              <%}%>
            </ul>

          <%}%>
          <form method="POST" action="/user/login" class="formulario">


        <h1>Login</h1>
        <div class="contenedor">
            <div class="input-contenedor"></div>
            <i class="fas fa-envelope icon"></i>
            <input type="text" name="email" placeholder="email">
      
            <div class="input-contenedor"></div>
            <i class="fas fa-key icon"></i>
            <input type="password" name="password" placeholder="password">
            <br>
            <input type="submit" value="Login" class="button">
           
            <input class="remember" type="checkbox" value="remember" class="button" ><label for="">Recordame</label>
            <p>Al registrarte, aceptas nuestras condiciones de uso y políticas de privacidad</p>
            <p>¿No tienes cuenta? <a class="link" href="/user/register">Regístrate</a></p>
            <p>¿Deseas volver al inicio? <a class= "link" href="/">Volver al Home</a></p>
        </div>
    </form>
</main>


<%- include('partials/footer.ejs') %>
</body>