<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Agregar producto</title> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  </head>
  <link rel="stylesheet" href="..public/css/productoadd.css">
<body>
  <%- include('partials/header.ejs') %>
 <main>  
  <form method="post" action="user/productoadd">
     <h2>AGREGAR PRODUCTO</h2>
    <input type="text"nombre="producto" placeholder="producto"> 
    <input type="text"nombre="marca" placeholder="marca"> 
    <input type="text"nombre="deporte" placeholder="deporte"> 
    <input type="text"nombre="genero" placeholder="genero">
    <input type="text"nombre="precio" placeholder="precio"> 
    <input type="image"nombre="image" placeholder="image"> 
    <textarea name="comentario" id="comntario" cols="30" rows="10" placeholder="comntarios"></textarea>
<input type="button"value="ENVIAR" name="enviar" id="enviar">
</form>
</main>

<%- include('partials/footer.ejs') %>

</body>
</html>
