*{margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: rgb(185, 182, 182);
    background-size: cover;
    text-align: center;
    
}



header{
    width: 100%;    
    background: #066dab ;
    overflow: hidden;
}
#btn-menu{
    display:none;
    
   
}
.errores{
 list-style: none;
}
.main-header--contactinfo__phone{
    margin: 0  auto;
    padding: 10px;
}
.main-header--contactinfo__adres{
    margin: 0  auto;
    padding: 10px;
}
.buscar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 70%;
    top: 25%;
    transform: translate(-50%,-50%);
    background: #069;
    padding: 10px;
    height: 60px;
    border-radius: 40px;
}  
.buscar_texto{
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 20px;
    float: left;
    line-height: 60px;
    transition: .3s;
    width: 0;
} 

.boton{
   
    text-decoration: none;
    color: white;
    font-size: 30px;
}
.errores{
    list-style: none;
}

.buscador{
   
    height: 40px;
}


#banner{
 position: relative;
  display: block    ;
    background: #fff;
    margin: 0 auto;
    width: 80%;
    height: 80%;
}
.banner__img{
    width: 100%;

}
.banner__content{
  
    color: black;
    text-align: center;
    position: relative;;
    z-index: 500;
    top:-50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
    font-size: 1.8em;
}
.today-special.column{
    margin-bottom: 30px;


}
.today-special__img{
    display: block;
    margin: auto;
    max-width: 250px;
}
.today-special__title{
    text-align: center;
    font-size: 1.3em;
    padding-top: 10px;
    padding-bottom: 10px;
}

.today-special__price{
    text-align: center;
    font-size: 1.8em;
    padding-top: 10px;
    padding-bottom: 10px;
}
header label{
    display:none;
    width: 30px;
    
    
   
}

header label:hover{
    cursor: pointer;
    background: rgba(255, 255, 255, 0.3)
}
.menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    background-color: black ;
    

    
}
.menu li :hover {
    background-color: rgba(255, 253, 253, 0.3)  ;
}
.menu li{
    flex-grow: 1;
    border-right: 1px solid #fff ;
     padding:  15px;
}


.menu li a {    
    display: block;
    padding: 15px 20 px;
    color:#fff;
    text-decoration: none;
}
#logo{
    width: 150px;
    margin-top: 1%;
    margin-left: 50px;
    animation: 1s tocarlogo 1;
}
img{
    margin-top: 10px;
}
main{ width: 100%;
    margin: auto;
    background: rgba(0,0,0,0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 7px;
    }
.accordion{ 
    overflow: hidden;
    transition: all 0.5 s;


}

/*cuerpo del registro*/
.contenedor{
    width:100%;
margin-bottom: 20px;
padding: 25%;
padding-top:5%;
box-sizing: border-box;
font-size:17px;
border-color: black;
text-align: center;
   
}
.formulario{
    margin: 20px;
    background: white;
    padding: 5%;

}
h1{
    text-align:center;
    color: #1a2537;
    font-size: 40px;
}

input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 90%;
    padding: 20px;
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background: cadetblue;
}
p{
    text-align: center;
}
.link{
    text-decoration: none;
    color: #1a2537;
    font-weight: 600;
}
.link:hover{
    color:cadetblue;
}

  
   

footer{
   
    max-width: 100%;
    min-height: 130px;
    background: black;
    margin: 0 auto;
    border-radius: 0 0 20px 20px;
    text-align: center;

}
@media(max-width:768px){
    header label{
        display: block ;
    }
    .buscar{
        top: 47%;   
    }

    .buscar:hover > .buscar_texto{
        width: 150px;
    }
    .menu{ 
        margin-top: auto;
        position:none;
        width:70% ;
        margin-left: -70% ;
        transition: all 0.5s;
        

    }
    .menu ul{
        flex-direction:column ;
     
    }
    .menu li{
        border-top:  1px solid #fff

    }

    #btn-menu:checked ~ .menu{
     
        margin: 0;


    }
    #banner{
        max-width:40%;
        min-height:25%;
        background: #fff;
        margin: 0;
    }
.column--50{
    width: 50%;
}   
    }

@media(max-width:480px){
    header{  width: 100%;};
    form{width: 100%; };
  

   
}
