body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: rgb(185, 182, 182);
    background-size: cover;
    text-align: center;
}
*{
    box-sizing: border-box;
   
}
header{
    width: 100%;    
    background: #066dab ;
}
#btn-menu{
    display:none;
    
   
}

#banner{
    max-width: 100%;
    min-height:25%;
    background: #fff;
    margin: 0 auto;
}
header label{
    display:none;
    width: 30px;
    
    
   
}

header label:hover{
    cursor: pointer;
    background: rgba(255, 255, 255, 0.3)
}
.menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    background-color: black ;
    

    
}
.menu li :hover {
    background-color: rgba(255, 253, 253, 0.3)  ;
}
.menu li{
    flex-grow: 1;
    border-right: 1px solid #fff ;
     padding:  15px;
}


.menu li a {    
    display: block;
    padding: 15px 20 px;
    color:#fff;
    text-decoration: none;
}


.carousel-item{
    width: 100%;
    height: 40px;
    position: absolute;
    top: 0 ;
    min-height: 300px;
    z-index: -1;
  }
  .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
}
  
#logo{
    width: 150px;
    margin-top: 1%;
    margin-left: 50px;
    animation: 1s tocarlogo 1s;
}
img{
    display: block;
    max-width: 100%;
}


/*MENU HORIZONTAL*/
#menu-horizontal{
    width: 100%;
    min-height: 50px;
    background: black;
    margin: 0 auto;
}
#menu-horizontal ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
#menu-horizontal a{
    color: #fff;
    display: block;
    padding: 20px;
    text-decoration: none;
    background: black;
    font-family: arial;
    font-size: 18px;
}
#menu-horizontal a:hover{
    background: blue;
}
#menu-horizontal ul ul{
    display: none;
    position: absolute;
}
#menu-horizontal ul li:hover ul{
    display: block;
}

#banner{
    max-width: 100%;
    min-height:25%;
    background: #fff;
    margin: 0 auto;
}


.info__columna {
    background: blue;;
    color: #fff;
    padding: 15px;
    margin-bottom: 30px;
  }

#contenido{
 
    min-height: 700px;
    background: white;
   
    box-sizing: border-box;
    padding: 15px;
}
#contenido h2{
    text-align: center;
}
#contenido img{
    padding: 1px;
    width: 150px;
    border-radius: 10px 10px 10px 10px;
   }
#contenido p{
    text-align: justify;
    font-family: arial;

}
footer{
    max-width: 100%;
    min-height: 130px;
    background: black;
    margin: 0 auto;
    border-radius: 0 0 20px 20px;
    text-align: center;
}
@media (max-width: 600px) {
    .carousel-item {
      height: 280px;
    }
    .carousel-indicators{
        display: none;
    }
  }
@media(max-width:768px){
    .carousel-indicators{
        display: none;
    }

    header label{
        display: block ;
    }
    
   
    .menu{ 
        margin-top: auto;
        position: absolute;;
        width:70% ;
        margin-left: -70% ;
        transition: all 0.5s;
        

    }
    .menu ul{
        flex-direction:column ;
     
    }
    .menu li{
        border-top:  1px solid #fff

    }

    #btn-menu:checked ~ .menu{
     
        margin: 0;


    }
    #banner{
        max-width:40%;
        min-height:25%;
        background: #fff;
        margin: 0;
    }
    #carouselExampleInterval{
        background-image: none;

    }
    .info {
        display: block;
        justify-content: space-between;
        margin-top: 20px;
      } 
      .info__columna {
        width: 100%;
      }
      .info__titulo {
        font-size: 30px;
        margin: 5px 0;
      }
      .section__titulo {
        width: 100%;
    }
   
}
    

@media(max-width:480px){
    header{  width: 100%;};
    form{width: 100%; };

    .carousel-indicators{
        display: none;
    }

    .info, .cursos {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
      }
   
      .info__titulo {
        font-size: 30px;
        margin: 5px 0;
      }
      .section__titulo {
        width: 100%;
    }
   
}
