<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('partials/head.ejs') %>
</head>
<body>
    <%- include('partials/header.ejs') %>   
<main><h1>Agregar Productos</h1>
<ul>
    <% for (let i=0, i<productoAdd.length;i++) { %> 
        <li>
            <% =productoAdd[i] &>
        </li>

     <% } %>
</ul>
</main>


<footer><%- include('partials/footer.ejs') %> </footer> 
    </body>