<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('partials/head.ejs') %>
  </head>
  <link rel="stylesheet" href="/css/productoadd.css">
<body>
  <%- include('partials/header') %>
 <main>  
  <form action="/products/create" method="POST"enctype="multipart/form-data">
     <h2>AGREGAR PRODUCTO</h2>
    <input type="text"name ="producto" placeholder="producto"> 
    <input type="text"name="marca" placeholder="marca"> 
    <input type="text"name="deporte" placeholder="deporte"> 
    <input type="text"name="genero" placeholder="genero">
    <input type="text"name="precio" placeholder="precio"> 
    <div class="input-contenedor"></div>
            <i class="fas fa-envelope icon "></i>
            <input type="file"name="avatar" placeholder="avatar"> 
            <br>
    <textarea name="comentario" id="comntario" cols="30" rows="10" placeholder="comntarios"></textarea>
    <input type="submit" value="Enviar" class="button">
</form>
</main>

<footer><%- include('partials/footer.ejs') %> </footer> 

</body>
</html>
