<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Detalle de producto</title> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="..public/css/detalle.css">
   
</head>
<body>
  <%- include('partials/header.ejs') %>
                    <main class="page">
                      <section class="shopping-cart dark">
                        <div class="container">
                         <h1 class="">ASICS</h1>    
                          <div class="block-heading">
                               <h2>NIMBUS 22</h2>
                               <p>Azul/Plata/Gris</p>
                             </div>
                             <div class="content">
                            <div class="row">
                              <div class="col-md-12 col-lg-8">
                                <div class="items">
                                  <div class="product">
                                    <div class="block">
                                      <div class="col-md-40">
                                        <img class="img-fluid mx-auto d-block image" src="../img/asics-nimbus22-ficha-caracteristicas-precios-300x300x80xX.jpg">
                                      </div>
                                      <div class="col-md-32">
                                        <div class="info">
                                          <div class="row">
                                            <div class="col-md-5 product-name">
                                              <div class="product-name">
                                                <a href="#">NIMBUS 22 TALLE 10,5</a>
                                                <div class="product-info">
                                                  <div>ESPECIFICACIONES <span class="value">Capellada: Poliéster, Poliuretano</span></div>
                                                  <div>Forro:  <span class="value">Nylon, Elastano</span></div>
                                                  <div>Suela: <span class="value">Caucho</span></div>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="col-md-4 quantity">
                                              <label for="quantity">Cantidad:</label>
                                              <input id="quantity" type="number" value ="1" class="form-control quantity-input">
                                            </div>
                                            <div class="col-md-3 price">
                                              <span>$11220</span>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="product">
                                    <div class="row">
                                      <div class="col-md-4">
                                       <div>Colores</div>
                                  
                                        <img class="img-fluid mx-auto d-block image" src="../img/nimbus 22.jpg">
                                      </div>
                                      <div></div>
                                      <div class="col-md-8">
                                        <div class="info">
                                          <div class="row">
                                            <div class="col-md- product-name">
                                              <div class="product-name">
                                                <a href="#">Detalles</a>
                                                <div class="product-info">
                                                  <div>Llega más lejos de lo que creías posible con la zapatilla de alto rendimiento para running GEL-CUMULUS™ 21 de ASICS.
                                                    Diseñada para proporcionar amortiguación y sujeción al pie en largas distancias, esta zapatilla incorpora la Tecnología FLYTEFOAM™ Propel, con un rebote y una energía excelentes.
                                                    La combinación de tecnología GEL™ en la parte trasera y delantera del pie aporta los beneficios de una absorción de impactos difícil de encontrar en otras zapatillas, mientras que la tecnología GUIDANCE LINE™ mejora la eficiencia de la pisada y el refuerzo interno del talón mantiene la posición del pie incluso en largas distancias.
                                                    La tecnología I.G.S™ (Impact Guidance System) ofrece una sujeción adicional y mejora la pisada natural durante el movimiento; además, la plantilla EVA se amolda a la forma del pie para mayor comodidad. 
                                                    El compuesto de goma AHAR™ de gran resistencia reduce el desgaste en las zonas clave de impacto de la suela exterior, para convertirla en una zapatilla de running de alto rendimiento en la que puedes confiar para progresar de nivel.
                                                    El empeine diseñado en malla jacquard proporciona ventilación, para que tengas la seguridad de que el pie se mantendrá fresco incluso en lo más duro de la carrera. 
                                                    Los detalles reflectantes del exterior de la zapatilla te proporcionarán visibilidad, incluso en condiciones de poca luz. 
                                                    Diseñadas para corredores con pisada neutra.</div>
                                                </div>
                                              </div>
                                            </div>
                                            
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="product">
                                    <div class="row">
                                      <div class="col-md-3">
                                        <img class="img-fluid mx-auto d-block image" src="../img/nike-zoomx-vaporfly.jpg">
                                      </div>
                                      <div class="col-md-8">
                                        <div class="info">
                                          <div class="row">
                                            <div class="col-md-5 product-name">
                                              <div class="product-name">
                                                <a href="#">nike-zoomx-vaporfly</a>
                                                <div class="product-info">
                                                  <div>Display: <span class="value">5 inch</span></div>
                                                  <div>RAM: <span class="value">4GB</span></div>
                                                  <div>Memory: <span class="value">32GB</span></div>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="col-md-4 quantity">
                                              <label for="quantity">AGREGAR</label>
                                              <input id="quantity" type="number" value ="1" class="form-control quantity-input">
                                            </div>
                                            <div class="col-md-3 price">
                                              <span>$22000</span>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-4 order-md-2 mb-4 resume">
                    
                                  <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-muted">TU CARRITO</span>
                                    <span class="badge badge-secondary badge-pill"></span>
                                  </h4>
                                  <ul class="list-group mb-3">
                                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                                      <div>
                                         <a href="#">TALLE  8</a>
                                        
                                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                                      <div>
                                        <a href="#">TALLE 8,5</a>
                                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                                      <div>
                                        <a href="#">TALLE  9</a>
                                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                                      <div>
                                        <a href="#">TALLE 9,5</a>
                                    <li class="list-group-item d-flex justify-content-between">
                                      <a href="#">TALLE 10</a>
                                  </ul>
                        
                                  <form class="card p-2">
                                    <div class="input-group">
                                      <input type="text" class="form-control" placeholder="Promo code">
                                      <div class="input-group-append">
                                        <button type="submit" class="btn btn-secondary">enviar</button>
                                      </div>
                                    </div>
                                  </form>
                                  <button type="button" class="btn btn-primary btn-lg btn-block" OnClick="location.href='cariito.html'">CARRITO</button>
                      
                        
                            </div> 
                          </div>
                        </div>
                     </section>
                   </main>     
                
           
                   <footer><%- include('partials/footer.ejs') %> </footer> 
    </body>
                  
                    
  