<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
    <title>G M SPORTS</title>
    <link rel="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="../public/css/registro.css">
    <script src="https://kit.fontawesome.com/ed7192d074.js" crossorigin="anonymous"></script>
</head>
    <body>
        
        <%- include('partials/header.ejs') %>
                
        <main>
        <form class="formulario">

            <form class="formulario" action="/products/edit/<%=products.id%>" method="POST"enctype="multipart/form-data">
            <h2>AGREGAR PRODUCTO</h2>
           <input type="text"name ="name" placeholder="name"> 
           <input type="text"name="marca" placeholder="marca"> 
           <input type="text"name="descripcion" placeholder="descripcion"> 
           <input type="text"name="stock" placeholder="stock">
           <input type="text"name="precio" placeholder="precio"> 
           <div class="input-contenedor"></div>
                   <i class="fas fa-envelope icon "></i>
                   <input type="file"name="avatar" placeholder="avatar"> 
                   <br>
           <textarea name="comentario" id="comntario" cols="30" rows="10" placeholder="comntarios"></textarea>
           <input type="submit" value="Enviar" class="button">
       </form>
       </main>
       


<footer><%- include('partials/footer.ejs') %> </footer> 
</body>