<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
    <title>G M SPORTS</title>
    <link href="https://file.myfontastic.com/GnxE8v3D3Yk2fQp3jdDLp/icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="js/scripts.js"></script>


    </head>


<body>  
    
    <%- include('partials/header.ejs') %>
    <main>
        <div class="c-slider">
            <div class="slider">
                <section class="secSlider"><img src="/img/new balance.jpg" alt=""></section>
                <section class="secSlider"><img src="/img/vans old s.jpg" alt=""></section>
                <section class="secSlider"><img src="/img/superstar.jpg" alt=""></section>
                <section class="secSlider"><img src="/img/airmax2.jpg" alt=""></section>

            </div>
            <div class="btn-prev">&#60;</div>
            <div class="btn-next">&#62;</div>
        </div>

        <section class="group today-special">
        <h2 class="today-special__title">Nuestos productos </h2>
        <div class="container__flex">
            <div class="columnart">
                <p> CONVERSE</p>
                <p>4999</p>
                <img src="/img/converse-all-star-.jpg" alt=""  class="today-special__img">
               
            </div>
          
            <div class="columnart">
                <p> CONVERSE</p>
                <p>4999</p>
                <img src="/img/converse-all-star-.jpg" alt=""  class="today-special__img">
               
            </div>
            <div class="columnart">
                <p> CONVERSE</p>
                <p>4999</p>
                <img src="/img/converse-all-star-.jpg" alt=""  class="today-special__img">
               
            </div>
            <div class="columnart">
                <p> CONVERSE</p>
                <p>4999</p>
                <img src="/img/converse-all-star-.jpg" alt=""  class="today-special__img">
               
            </div>
            <div class="columnart">
                <p> CONVERSE</p>
                <p>4999</p>
                <img src="/img/converse-all-star-.jpg" alt=""  class="today-special__img">
               
            </div>
            <div class="columnart">
                <p> CONVERSE</p>
                <p>4999</p>
                <img src="/img/converse-all-star-.jpg" alt=""  class="today-special__img">
               
            </div>
        </div>
      </section>
   </main>
</body>


<footer><%- include('partials/footer.ejs') %> </footer> 

</html>