<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('partials/head.ejs') %>
   
</head>
<body>
  <%- include('partials/header.ejs') %>
        <main>
         <div class="errores"> <%if( typeof errors !='undefined') {%>
            <p  style="color:red"> Error debe completar los campos </p>
            <ul>
              <% for (let i= 0;i<errors.length; i ++) {%>
                <li>
                  <%= errors[i].msg%>
                </li>

              <%}%>
            </ul>

          <%}%>
        </div>
          <form method="POST" action="/user/login" class="formulario">


        <h1>Login</h1>
        <div class="contenedor">
            <div class="input-contenedor"></div>
            <i class="fas fa-envelope icon"></i>
            <input type="text" name="email" placeholder="email"required>
          
            <div class="input-contenedor"></div>
            <i class="fas fa-key icon"></i>
            <input type="password" name="password" placeholder="password" required>
            <br>
            <input type="submit" value="Login" class="button">
           
            <input class="remember" type="checkbox" value="remember" class="button" ><label for="">Recordame</label>
            <p>Al registrarte, aceptas nuestras condiciones de uso y políticas de privacidad</p>
            <p>¿No tienes cuenta? <a class="link" href="/user/register">Regístrate</a></p>
            <p>¿Deseas volver al inicio? <a class= "link" href="/">Volver al Home</a></p>
        </div>
    </form>
</main>


<footer><%- include('partials/footer.ejs') %> </footer> 
</body>