<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
    <title>G M SPORTS</title>
    <link rel="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="/css/registro.css">
    <script src="https://kit.fontawesome.com/ed7192d074.js" crossorigin="anonymous"></script>
</head>
    <body>
        
        <%- include('partials/header.ejs') %>
                
             
        <main class="list">
            <div><h1>Listado clientes nuevos </h1>
            <ul > <% for (let i=0; i < users.length; i++) { %>
              <div class="listado"> 
                 <li>
                   <a href="<%=users[i].id%>"><%=users[i].firstname%></a>  </li>
                    
                    </div>

            <% } %>

              
                  
            </ul>
        </div>
            </main>

            <%- include('partials/footer.ejs') %>