<header class="main-header">
    <div class="container container--flex"> 
    <div class="logo-container column column--50"> <section id="logo">
        <a href="/"><img src="/img/logo.png " alt="logo"> </a>
    </section>
</div >
     <input type="checkbox" id="btn-menu"> 
     <label for="btn-menu"><img src="/img/menu.png" width="50 px" height="50px" alt="menu"></label>
     <div class="main-header__contactinfo column column--50 ">
         <p class="main-header--contactinfo__phone">
             <span class="icon-phone"></span>
         </p>
         <p class="main-header--contactinfo__adress">  
             <span class="icon-location"></span>
            </p>
     </div>
     <div></div>
     <nav class="menu">
    <ul><li><a href="/">Inicio</a></li>
        <li><a href="">Calzado</a></li>
        <li><a href="">Indumentaria</a></li>
        <li><a href="">Accesorio</a></li>
        <li><a href="">deportes</a></li>
        <li><a href="/faq">Contactenos</a></li>
        <li><a href="/user/register">Registrese</a></li>
        <li><a href="/user/login">Login</a></li>
    </ul>
  </nav>
</header>