<header class="main-header">
    <div class="container container--flex"> 
      <div class="logo-container column column--50"> <section id="logo">
          <a href="/"><img src="/img/logo.png " alt="logo"> </a>
         <div> 
            
            <div class="buscar">
                
                <input type="text" class="buscar_texto">
               <a href="" class="boton"><img class="buscador"src="/img/buscar.png" alt="">
               </a>
           </div> 
</div >
     <input type="checkbox" id="btn-menu"> 
     <label for="btn-menu"><img src="/img/menu.png" width="50 px" height="50px" alt="menu"></label>
    
  

     </div>
     <nav class="menu">
    <ul><li><a href="/">Inicio</a></li>
        <li><a href="">Calzado</a></li>
        <li><a href="">Indumentaria</a></li>
        <li><a href="">Accesorio</a></li>
        <li><a href="">deportes</a></li>
        <li><a href="/faq">Contactenos</a></li>
        <% if (locals.logeado === true) { %>
        <li><a href="/perfil">Perfil</a></li>
        <%} else {%>
        <li><a href="/user/register">Registrese</a></li>
        <li><a href="/user/login">Login</a></li>
        <% } %>
    </ul>
  </nav>
</header>